.container{
	
	width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	background-color: blue;
    
}
span:account{
	float: right;
}

}



.button{
	background-color: blue;
	color: white;
	width: 50%;
	padding: 14px 20px;
}

.account{
	text-align: right;
}